{% load i18n %}
{% include 'includes/header.html' %}
<div id="about">
    {% block menu %}
       {% include 'firstpage/nav.html' %}
    {% endblock %}
</div>

<div id="getting-started">

    <div id="main-wrap" style="overflow:hidden; _zoom:1;">

        <div style="float:left; width:25%; padding-bottom:10000px; margin-bottom:-10000px;">
            {% block search %}
            <div class="sidebar-section">
                <div class="sidebar-header">
                    <h3 style="color:#555555; font-family:arial,sans-serif;">{% trans "Search" %}</h3>
                </div>
                <form method="get" action="/">
                    <input name="q" id="search-string" type="text" value="{{ query|default_if_none:''}}"
                           style="width: 20ex; color: rgb(170, 170, 170);"/>
                    <input id="search-launch" type="submit" value=""/>
                </form>
            </div>
            {% endblock %}
            {% block news %}
            {% endblock %}
        </div>

        <div id="content-column" style="float:right; width:72%; padding-bottom:10000px; margin-bottom:-10000px;">
            <div id="epigraph">
                {% block contentheader %}
                <h1>{% trans "The Rarog Club" %}</h1>
                {% endblock %}
            </div>
            <div id="slider-wrap">
                {% block slider %}{% endblock %}
                {% block slidecontrol %}
                <div id="movers-row" style="margin: 0pt auto; width: 112px;">
                    <div><a href="#1" class="cross-link active-thumb"></a></div>
                    <div><a href="#2" class="cross-link active-thumb"></a></div>
                    <div><a href="#3" class="cross-link active-thumb"></a></div>
                    <div><a href="#4" class="cross-link active-thumb"></a></div>
                    <div><a href="#5" class="cross-link active-thumb"></a></div>
                    <div><a href="#6" class="cross-link active-thumb"></a></div>
                </div>
                {% endblock %}

            </div>
            <div id="info">
                {% block content %}{% endblock %}
                {% block story %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}
