{% extends "base_detail.html" %}

{% block menu %}
  {% include 'entries/nav.html' %}
{% endblock %}

{% block content %} 
        <h1>
            {{ object.title }}
        </h1>
        <h2>
            {{ object.pub_date|date:"d M Y" }}
        </h2>
        <div style="margin: 10px; width: 100%; text-align: center;">
            <img alt="img" src="/{{ object.image.get_slide_url }}"/>
        </div>
        <div>
            {{ object.body_html|safe }}
        </div>
         {% if object.gallery %}
            {% with object.gallery as gallery %}
                <div id="event_photos" style="overflow:hidden; height:600px">
                {% include 'includes/galleriftic.html' %}
                </div>
            {% endwith %}
         {% endif %}
{% endblock %}