{% extends "entries/index.html" %}
{% load i18n %}
        
{% block content %}
    {% with page_data|first as selected %}
        <h1>
            {{ selected.entry.title }}
        </h1>
        <h2>
            {{ selected.entry.pub_date|date:"d M Y" }}
        </h2>
        <div>
            <p>
              {% if selected.entry.descriptn %}
                {{ selected.entry.descriptn }}
              {% endif %}
            </p>
            <a href="{{ selected.entry.get_absolute_url }}"
               style="float:right">
                {% trans 'Next' %}  &rsaquo;
            </a>
        </div>
    {% endwith %}
{% endblock %}


